In [1]:
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
from config import db_password
import sys
!{sys.executable} -m pip install psycopg2-binary
import time

Requirement already satisfied: psycopg2-binary in c:\users\locnguyen\anaconda3\envs\pythondata\lib\site-packages (2.8.5)

In [2]:
#Raw data paths:
building_path = 'Raw data\TB_Building.csv'
project_path = 'Raw data\TB_Project.csv'
hour_path = 'Raw data\TB_Hours.csv'
emp_path = 'Raw data\TB_Employee.csv'

## Clean Employee data

In [3]:
# Load csv:
emp = pd.read_csv(emp_path)
emp

   Employment Type Region Type        Primary Team  EmpID
0         Employee           A                  EN      1
1         Employee           A                  OP      2
2         Employee           B                  EN      3
3         Employee           B                  EN      4
4         Employee           A                  SB      5
..             ...         ...                 ...    ...
85             NaN           A                  SB     57
86          Intern           A  San Francisco Team     65
87   Subconsultant           A  San Francisco Team     68
88   Subconsultant           A                  OP     80
89   Subconsultant           A  San Francisco Team     85

[90 rows x 4 columns]

In [4]:
# remove unused cols:
emp.drop(['Employment Type', 'Primary Team'], inplace=True, axis=1)
emp.head()

  Region Type  EmpID
0           A      1
1           A      2
2           B      3
3           B      4
4           A      5

In [5]:
# Count null:
emp.isna().sum()

Region Type    0
EmpID          0
dtype: int64

In [6]:
emp.dtypes

Region Type    object
EmpID           int64
dtype: object

In [7]:
#Rename cols:
emp.columns = ['Region_Type', 'EmpID']
emp

   Region_Type  EmpID
0            A      1
1            A      2
2            B      3
3            B      4
4            A      5
..         ...    ...
85           A     57
86           A     65
87           A     68
88           A     80
89           A     85

[90 rows x 2 columns]

In [8]:
# Function:
def clean_emp(emp):
    # remove unused cols:
    emp.drop(['Employment Type', 'Primary Team'], inplace=True, axis=1)
    # Rename cols:
    emp.columns = ['region_type', 'emp_id']
    return emp

## Clean Hour data:

In [9]:
# Load csv:
hour = pd.read_csv(hour_path)
hour.head()

,psa_Hours,psa_hoursId,psa_Start,Selling rate,projectid,EmpID,psa_SellingAmount.Value
0,1.0,711e1ac4-825d-e611-80e7-5065f38b4491,2016-08-12 00:00:00.000,165.0,808df370-775a-e611-80e7-5065f38b4491,58.0,165.0
1,1.0,fa07d119-ae78-e611-80e9-5065f38be0e1,2016-09-07 00:00:00.000,165.0,808df370-775a-e611-80e7-5065f38b4491,58.0,165.0
2,1.0,993a7494-b278-e611-80e9-5065f38be0e1,2016-09-09 00:00:00.000,165.0,808df370-775a-e611-80e7-5065f38b4491,58.0,165.0
3,1.0,13bf44f6-b178-e611-80e9-5065f38be0e1,2016-09-09 00:00:00.000,165.0,808df370-775a-e611-80e7-5065f38b4491,58.0,165.0
4,1.0,1300036e-8a7e-e611-80ea-5065f38be0e1,2016-09-12 00:00:00.000,165.0,808df370-775a-e611-80e7-5065f38b4491,58.0,165.0

In [10]:
hour.columns

Index(['psa_Hours', 'psa_hoursId', 'psa_Start', 'Selling rate', 'projectid',
       'EmpID', 'psa_SellingAmount.Value'],
      dtype='object')

In [11]:
# remove unused cols:
hour.drop(['Selling rate', 'psa_SellingAmount.Value'], inplace=True, axis=1)
hour.head()

,psa_Hours,psa_hoursId,psa_Start,projectid,EmpID
0,1.0,711e1ac4-825d-e611-80e7-5065f38b4491,2016-08-12 00:00:00.000,808df370-775a-e611-80e7-5065f38b4491,58.0
1,1.0,fa07d119-ae78-e611-80e9-5065f38be0e1,2016-09-07 00:00:00.000,808df370-775a-e611-80e7-5065f38b4491,58.0
2,1.0,993a7494-b278-e611-80e9-5065f38be0e1,2016-09-09 00:00:00.000,808df370-775a-e611-80e7-5065f38b4491,58.0
3,1.0,13bf44f6-b178-e611-80e9-5065f38be0e1,2016-09-09 00:00:00.000,808df370-775a-e611-80e7-5065f38b4491,58.0
4,1.0,1300036e-8a7e-e611-80ea-5065f38be0e1,2016-09-12 00:00:00.000,808df370-775a-e611-80e7-5065f38b4491,58.0

In [12]:
# Count null:
hour.isna().sum()

psa_Hours         0
psa_hoursId       0
psa_Start         0
projectid        82
EmpID          2468
dtype: int64

EmpID is not nullable, so remove na

In [13]:
# remove null EmpID:
cleaned_hours = hour.dropna(subset=['EmpID'])

In [14]:
# Count null:
cleaned_hours.isna().sum()

psa_Hours       0
psa_hoursId     0
psa_Start       0
projectid      82
EmpID           0
dtype: int64

In [15]:
cleaned_hours.dtypes

psa_Hours      float64
psa_hoursId     object
psa_Start       object
projectid       object
EmpID          float64
dtype: object

In [16]:
# convert to date:
cleaned_hours['psa_Start'] = pd.to_datetime(cleaned_hours['psa_Start'], infer_datetime_format=True)
cleaned_hours.dtypes

C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

psa_Hours             float64
psa_hoursId            object
psa_Start      datetime64[ns]
projectid              object
EmpID                 float64
dtype: object

In [17]:
# convert to int:
cleaned_hours['EmpID'] = cleaned_hours['EmpID'].astype(int)
cleaned_hours.dtypes

C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

psa_Hours             float64
psa_hoursId            object
psa_Start      datetime64[ns]
projectid              object
EmpID                   int32
dtype: object

In [18]:
cleaned_hours.columns = ['Hours_Amt', 'HourID', 'Date', 'ProjectID', 'EmpID']
cleaned_hours.head()

,Hours_Amt,HourID,Date,ProjectID,EmpID
0,1.0,711e1ac4-825d-e611-80e7-5065f38b4491,2016-08-12,808df370-775a-e611-80e7-5065f38b4491,58
1,1.0,fa07d119-ae78-e611-80e9-5065f38be0e1,2016-09-07,808df370-775a-e611-80e7-5065f38b4491,58
2,1.0,993a7494-b278-e611-80e9-5065f38be0e1,2016-09-09,808df370-775a-e611-80e7-5065f38b4491,58
3,1.0,13bf44f6-b178-e611-80e9-5065f38be0e1,2016-09-09,808df370-775a-e611-80e7-5065f38b4491,58
4,1.0,1300036e-8a7e-e611-80ea-5065f38be0e1,2016-09-12,808df370-775a-e611-80e7-5065f38b4491,58

In [19]:
# Function:
def clean_hour(hour):
    # remove unused cols:
    hour.drop(['Selling rate', 'psa_SellingAmount.Value'], inplace=True, axis=1, errors = "ignore")
    # remove null EmpID:
    cleaned_hours = hour.dropna(subset=['EmpID'])
    # convert dtypes:
    cleaned_hours['psa_Start'] = pd.to_datetime(cleaned_hours['psa_Start'], infer_datetime_format=True)
    cleaned_hours['EmpID'] = cleaned_hours['EmpID'].astype(int)
    # Rename cols:
    cleaned_hours.columns = ['hours_amt', 'hour_id', 'date', 'project_id', 'emp_id']
    return cleaned_hours

## Clean project data:

In [20]:
# Load csv:
prj = pd.read_csv(project_path)
prj.head()

,createdon,new_billingday,new_certificationfeeinvoiced,new_certificationfeereceived,new_howmuchcertification,new_howmuchregistration,new_lossleader,new_verbalagreement,psa_enddate,psa_program,psa_projectid,psa_signed,psa_startdate,statuscode_display,serviceline,Team,projectmanager_empID,Overbudget_yes,Budget,projectstatus
0,2018-12-06 00:00:00.000,NaN,NaN,False,NaN,NaN,NaN,True,2019-04-15 00:00:00.000,03ffee06-89f9-e811-a966-000d3a37839b,c0a1725b-89f9-e811-a966-000d3a37839b,False,2018-12-05 00:00:00.000,Inactive,Commissioning,SB,51.0,0,21400.0,4.Complete
1,2018-05-17 00:00:00.000,NaN,NaN,False,NaN,NaN,NaN,True,2020-10-01 00:00:00.000,81cbef69-f659-e811-a94e-000d3a37870e,6f21bbc3-f959-e811-a94e-000d3a37870e,False,2018-05-17 00:00:00.000,Inactive,Commissioning,SB,51.0,No conclusion,NaN,Dead
2,2018-08-02 00:00:00.000,NaN,NaN,False,NaN,NaN,NaN,True,2019-04-01 00:00:00.000,a2d4777e-a896-e811-a957-000d3a378ca2,cffdaaf0-a896-e811-a957-000d3a378ca2,False,2018-08-02 00:00:00.000,Inactive,Commissioning,SB,51.0,0,31865.0,4.Complete
3,2016-11-22 00:00:00.000,NaN,NaN,False,NaN,NaN,NaN,True,2016-11-22 00:00:00.000,9f9d3205-8eab-e611-80f0-5065f38be0e1,eb43850d-20b1-e611-80f6-5065f38afa01,False,2016-11-22 00:00:00.000,Inactive,Commissioning,SB,51.0,No conclusion,NaN,Dead
4,2016-09-07 00:00:00.000,NaN,NaN,False,NaN,NaN,NaN,False,2017-07-31 00:00:00.000,487792ea-e93e-e611-8117-c4346bac0260,b3ed8234-2775-e611-80ea-5065f38b4491,False,2016-09-07 00:00:00.000,Inactive,Commissioning,SB,51.0,0,36610.0,4.Complete

In [21]:
prj.columns

Index(['createdon', 'new_billingday', 'new_certificationfeeinvoiced',
       'new_certificationfeereceived', 'new_howmuchcertification',
       'new_howmuchregistration', 'new_lossleader', 'new_verbalagreement',
       'psa_enddate', 'psa_program', 'psa_projectid', 'psa_signed',
       'psa_startdate', 'statuscode_display', 'serviceline', 'Team',
       'projectmanager_empID', 'Overbudget_yes', 'Budget', 'projectstatus'],
      dtype='object')

In [22]:
# remove unused cols:
remove_cols = ['createdon','new_billingday','new_certificationfeeinvoiced','new_certificationfeereceived',
               'new_howmuchcertification','new_howmuchregistration','new_lossleader','new_verbalagreement',
               'psa_signed','psa_startdate','statuscode_display','projectstatus']

prj.drop(remove_cols, inplace=True, axis=1)
prj.head()

,psa_enddate,psa_program,psa_projectid,serviceline,Team,projectmanager_empID,Overbudget_yes,Budget
0,2019-04-15 00:00:00.000,03ffee06-89f9-e811-a966-000d3a37839b,c0a1725b-89f9-e811-a966-000d3a37839b,Commissioning,SB,51.0,0,21400.0
1,2020-10-01 00:00:00.000,81cbef69-f659-e811-a94e-000d3a37870e,6f21bbc3-f959-e811-a94e-000d3a37870e,Commissioning,SB,51.0,No conclusion,NaN
2,2019-04-01 00:00:00.000,a2d4777e-a896-e811-a957-000d3a378ca2,cffdaaf0-a896-e811-a957-000d3a378ca2,Commissioning,SB,51.0,0,31865.0
3,2016-11-22 00:00:00.000,9f9d3205-8eab-e611-80f0-5065f38be0e1,eb43850d-20b1-e611-80f6-5065f38afa01,Commissioning,SB,51.0,No conclusion,NaN
4,2017-07-31 00:00:00.000,487792ea-e93e-e611-8117-c4346bac0260,b3ed8234-2775-e611-80ea-5065f38b4491,Commissioning,SB,51.0,0,36610.0

In [23]:
# remove "No conclusion" rows:
cleaned_prj = prj[prj['Overbudget_yes'] != 'No conclusion']
cleaned_prj.head()

,psa_enddate,psa_program,psa_projectid,serviceline,Team,projectmanager_empID,Overbudget_yes,Budget
0,2019-04-15 00:00:00.000,03ffee06-89f9-e811-a966-000d3a37839b,c0a1725b-89f9-e811-a966-000d3a37839b,Commissioning,SB,51.0,0,21400.0
2,2019-04-01 00:00:00.000,a2d4777e-a896-e811-a957-000d3a378ca2,cffdaaf0-a896-e811-a957-000d3a378ca2,Commissioning,SB,51.0,0,31865.0
4,2017-07-31 00:00:00.000,487792ea-e93e-e611-8117-c4346bac0260,b3ed8234-2775-e611-80ea-5065f38b4491,Commissioning,SB,51.0,0,36610.0
6,2017-08-31 00:00:00.000,d57e943a-545c-e211-8a15-78e3b51146cf,e4344949-aee8-e611-80f9-5065f38b4491,Commissioning,SB,51.0,1,8170.0
8,2017-02-28 00:00:00.000,84f8c51a-7d6e-e411-8b85-6c3be5a6aa7c,dda37c80-7e6e-e411-8b85-6c3be5a6aa7c,Commissioning,SB,51.0,0,20185.0

In [24]:
cleaned_prj.dtypes

psa_enddate              object
psa_program              object
psa_projectid            object
serviceline              object
Team                     object
projectmanager_empID    float64
Overbudget_yes           object
Budget                  float64
dtype: object

In [25]:
# convert date type:
cleaned_prj['psa_enddate'] = pd.to_datetime(cleaned_prj['psa_enddate'], infer_datetime_format=True)
cleaned_prj.dtypes

C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

psa_enddate             datetime64[ns]
psa_program                     object
psa_projectid                   object
serviceline                     object
Team                            object
projectmanager_empID           float64
Overbudget_yes                  object
Budget                         float64
dtype: object

In [26]:
# convert boolean type:
cleaned_prj['Overbudget_yes'] = cleaned_prj['Overbudget_yes'].astype(int)
cleaned_prj.dtypes

C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

psa_enddate             datetime64[ns]
psa_program                     object
psa_projectid                   object
serviceline                     object
Team                            object
projectmanager_empID           float64
Overbudget_yes                   int32
Budget                         float64
dtype: object

In [27]:
cleaned_prj.columns

Index(['psa_enddate', 'psa_program', 'psa_projectid', 'serviceline', 'Team',
       'projectmanager_empID', 'Overbudget_yes', 'Budget'],
      dtype='object')

In [28]:
# Rename cols:
cleaned_prj.columns = ['End_Date', 'BuildingID', 'ProjectID', 'Service_Line', 'Team', 'Project_Manager', 'Overbudget_yes', 'Budget']
cleaned_prj.head()

,End_Date,BuildingID,ProjectID,Service_Line,Team,Project_Manager,Overbudget_yes,Budget
0,2019-04-15,03ffee06-89f9-e811-a966-000d3a37839b,c0a1725b-89f9-e811-a966-000d3a37839b,Commissioning,SB,51.0,0,21400.0
2,2019-04-01,a2d4777e-a896-e811-a957-000d3a378ca2,cffdaaf0-a896-e811-a957-000d3a378ca2,Commissioning,SB,51.0,0,31865.0
4,2017-07-31,487792ea-e93e-e611-8117-c4346bac0260,b3ed8234-2775-e611-80ea-5065f38b4491,Commissioning,SB,51.0,0,36610.0
6,2017-08-31,d57e943a-545c-e211-8a15-78e3b51146cf,e4344949-aee8-e611-80f9-5065f38b4491,Commissioning,SB,51.0,1,8170.0
8,2017-02-28,84f8c51a-7d6e-e411-8b85-6c3be5a6aa7c,dda37c80-7e6e-e411-8b85-6c3be5a6aa7c,Commissioning,SB,51.0,0,20185.0

In [29]:
# Count null:
cleaned_prj.isna().sum()

End_Date            7
BuildingID          4
ProjectID           0
Service_Line       13
Team                9
Project_Manager    19
Overbudget_yes      0
Budget             58
dtype: int64

Not many, so we are going to exclude all N/A rows:

In [30]:
# drop na:
cleaned_prj = cleaned_prj.dropna()
cleaned_prj

,End_Date,BuildingID,ProjectID,Service_Line,Team,Project_Manager,Overbudget_yes,Budget
0,2019-04-15,03ffee06-89f9-e811-a966-000d3a37839b,c0a1725b-89f9-e811-a966-000d3a37839b,Commissioning,SB,51.0,0,21400.0
2,2019-04-01,a2d4777e-a896-e811-a957-000d3a378ca2,cffdaaf0-a896-e811-a957-000d3a378ca2,Commissioning,SB,51.0,0,31865.0
4,2017-07-31,487792ea-e93e-e611-8117-c4346bac0260,b3ed8234-2775-e611-80ea-5065f38b4491,Commissioning,SB,51.0,0,36610.0
6,2017-08-31,d57e943a-545c-e211-8a15-78e3b51146cf,e4344949-aee8-e611-80f9-5065f38b4491,Commissioning,SB,51.0,1,8170.0
8,2017-02-28,84f8c51a-7d6e-e411-8b85-6c3be5a6aa7c,dda37c80-7e6e-e411-8b85-6c3be5a6aa7c,Commissioning,SB,51.0,0,20185.0
...,...,...,...,...,...,...,...,...
1362,2018-02-28,d4304ebb-471e-e711-8102-e0071b715b91,1a2d4656-632c-e711-8105-e0071b715b91,LEED,SB,58.0,1,34000.0
1364,2019-01-14,2ea2f2b1-6a62-e711-811c-e0071b7458a1,0476966e-6b62-e711-811c-e0071b7458a1,LEED,SB,67.0,0,42841.5
1365,2019-07-01,63ae384f-d3e5-e711-812d-e0071b7458a1,69f606ee-d3e5-e711-812d-e0071b7458a1,LEED,SB,44.0,1,32436.0
1366,2019-06-17,1a603b6b-5d01-e811-812f-e0071b7458a1,d072b6dd-5e01-e811-812f-e0071b7458a1,LEED,SB,84.0,0,39000.0
1369,2016-12-10,30307a0f-e00a-e511-80e3-fc15b4284a70,eecc6ea4-8f0f-e511-80e3-fc15b4284a70,LEED,SB,58.0,0,47550.0

In [31]:
# Function:
def clean_project(prj):    
    # remove unused cols:
    remove_cols = ['createdon','new_billingday','new_certificationfeeinvoiced','new_certificationfeereceived',
                   'new_howmuchcertification','new_howmuchregistration','new_lossleader','new_verbalagreement',
                   'psa_signed','psa_startdate','statuscode_display','projectstatus']

    prj.drop(remove_cols, inplace=True, axis=1)
    
    # remove "No conclusion" rows:
    cleaned_prj = prj[prj['Overbudget_yes'] != 'No conclusion']
    cleaned_prj.head()
    # convert dtypes:
    cleaned_prj['psa_enddate'] = pd.to_datetime(cleaned_prj['psa_enddate'], infer_datetime_format=True)
    cleaned_prj['Overbudget_yes'] = cleaned_prj['Overbudget_yes'].astype(int)
    # Rename cols:
    cleaned_prj.columns = ['end_date', 'building_id', 'project_id', 'service_line', 'team', 'project_manager', 'overbudget_yes', 'budget']
    # drop na:
    cleaned_prj = cleaned_prj.dropna()
    return cleaned_prj

## Clean building data:

In [32]:
# Load csv:
building = pd.read_csv(building_path)
building.head()

,createdon,new_annualcostsavings,new_annualemissionspreventedmtco2e,new_annualenergysavingsmmbtu,new_buildingtypenew_display,new_certificationlevel1_display,new_certificationlevel2_display,new_certificationlevel3_display,new_certificationtype1_display,new_certificationtype2_display,...,new_tonswastediverted,new_totalconstructionbudget,psa_number,psa_programid,rwi_msa,programinitiatedby_empID,region,programmanager_empID,CityID,StateID
0,00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,658,7753286b-950c-ea11-a811-000d3a36880e,False,NaN,SF,58.0,NaN,NaN
1,00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0692-A-10730,c4ceba17-fa46-ea11-a812-000d3a36880e,False,NaN,SF,58.0,NaN,NaN
2,00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0710-A-10717,92a19ef2-8d5d-ea11-a811-000d3a36886f,False,NaN,SF,58.0,NaN,NaN
3,00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,711,6529fdbc-9b5d-ea11-a811-000d3a36880e,False,NaN,SF,21.0,NaN,NaN
4,00:00.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,712,c815d75d-9d5d-ea11-a811-000d3a36880e,False,NaN,SF,54.0,NaN,NaN

In [33]:
building.columns

Index(['createdon', 'new_annualcostsavings',
       'new_annualemissionspreventedmtco2e', 'new_annualenergysavingsmmbtu',
       'new_buildingtypenew_display', 'new_certificationlevel1_display',
       'new_certificationlevel2_display', 'new_certificationlevel3_display',
       'new_certificationtype1_display', 'new_certificationtype2_display',
       'new_certificationtype3_display', 'new_constructioncost', 'new_country',
       'new_currentphase_display', 'new_dateoccupied', 'new_gallonswatersaved',
       'new_nda', 'new_programconstructionbegin',
       'new_programconstructioncomplete', 'new_programdesigncomplete',
       'new_programenergysavings', 'new_programfloors',
       'new_programsquarefootage', 'new_programunits',
       'new_programwastediverted', 'new_programwatersavings',
       'new_rdtaxcredit', 'new_renewableenergykwh', 'new_siteacreage',
       'new_tonswastediverted', 'new_totalconstructionbudget', 'psa_number',
       'psa_programid', 'rwi_msa', 'programinitiatedby_empID', 'region',
       'programmanager_empID', 'CityID', 'StateID'],
      dtype='object')

In [34]:
# remove unused cols:
keep_cols = ['new_nda', 'new_programsquarefootage', 'new_siteacreage', 'psa_programid', 'region']

building = building[keep_cols]
building.head()

,new_nda,new_programsquarefootage,new_siteacreage,psa_programid,region
0,False,NaN,NaN,7753286b-950c-ea11-a811-000d3a36880e,SF
1,False,NaN,NaN,c4ceba17-fa46-ea11-a812-000d3a36880e,SF
2,False,NaN,NaN,92a19ef2-8d5d-ea11-a811-000d3a36886f,SF
3,False,NaN,NaN,6529fdbc-9b5d-ea11-a811-000d3a36880e,SF
4,False,NaN,NaN,c815d75d-9d5d-ea11-a811-000d3a36880e,SF

Looks like there are many NaN values in the new_programsquarefootage and new_siteacreage, so we decided to drop these 2 columns

In [35]:
# drop 2 more columns:
keep_cols = ['new_nda', 'psa_programid', 'region']

building = building[keep_cols]
building.head()

  new_nda                         psa_programid region
0   False  7753286b-950c-ea11-a811-000d3a36880e     SF
1   False  c4ceba17-fa46-ea11-a812-000d3a36880e     SF
2   False  92a19ef2-8d5d-ea11-a811-000d3a36886f     SF
3   False  6529fdbc-9b5d-ea11-a811-000d3a36880e     SF
4   False  c815d75d-9d5d-ea11-a811-000d3a36880e     SF

In [36]:
# Count null:
building.isna().sum()

new_nda           35
psa_programid      0
region           152
dtype: int64

Default value for new_nda is False, and for region is 'SF'

In [37]:
# Fill na:
building['region'].fillna("SF", inplace = True)
building['new_nda'].fillna("False", inplace = True)
building.isna().sum()

new_nda          0
psa_programid    0
region           0
dtype: int64

In [39]:
# Rename cols:
building.columns = ['NDA', 'BuildingID', 'Region']
building.head()

     NDA                            BuildingID Region
0  False  7753286b-950c-ea11-a811-000d3a36880e     SF
1  False  c4ceba17-fa46-ea11-a812-000d3a36880e     SF
2  False  92a19ef2-8d5d-ea11-a811-000d3a36886f     SF
3  False  6529fdbc-9b5d-ea11-a811-000d3a36880e     SF
4  False  c815d75d-9d5d-ea11-a811-000d3a36880e     SF

In [40]:
# Function:
def clean_building(building):    
    # remove unused cols:
    keep_cols = ['new_nda', 'psa_programid', 'region']
    building = building[keep_cols]    
    # Fill na:
    building['region'].fillna("SF", inplace = True)
    building['new_nda'].fillna("False", inplace = True)    
    # Rename cols:
    building.columns = ['nda', 'building_id', 'region']
    return building

### Create Master function with 4 arguments as raw data load:

In [41]:
def master_ETL(building_path, project_path, hour_path, emp_path):
    
    # Load engine:    
    db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/group_project"
    # Create the database engine with the following:
    engine = create_engine(db_string)
    # get the start_time from time.time()
    start_time = time.time()
    # Load csv
    building = pd.read_csv(building_path)
    project = pd.read_csv(project_path)
    hour = pd.read_csv(hour_path)
    emp = pd.read_csv(emp_path)
    
    # clean and create all 4 df:
    try:
        print('Start cleaning')
        building_df = clean_building(building)
        print(' Clean building complete!')
        project_df = clean_project(project)
        print(' Clean project complete!')
        hour_df = clean_hour(hour)
        print(' Clean hour complete!')
        emp_df = clean_emp(emp)
        print(' Clean emp complete!')
    except:
        print(f'ETL failed to clean dataset.')
        return
    
    # save all df to_sql, replacing if the same table already exists:
    try:
        building_df.to_sql(name='tb_building', con=engine, if_exists='replace')
        project_df.to_sql(name='tb_project', con=engine, if_exists='replace')
        hour_df.to_sql(name='tb_hours', con=engine, if_exists='replace')
        emp_df.to_sql(name='tb_employee', con=engine, if_exists='replace')
        
        print(f'Finish importing all df into SQL database.')
    except:
        print(f'ETL failed to export dataframe to SQL Database.')
        return
    time_spent = time.time() - start_time
    # Print Complete:
    print(f'Done. Full ETL ran successully in {time_spent} seconds.')

### Run the Master function to import data into SQL Database:

In [42]:
master_ETL(building_path, project_path, hour_path, emp_path)

Start cleaning
 Clean building complete!
 Clean project complete!
 Clean hour complete!
 Clean emp complete!

C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\LocNguyen\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

Finish importing all df into SQL database.
Done. Full ETL ran successully in 9.968253374099731 seconds.