In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
test_df = pd.read_csv('TB_test.csv')
test_df.head()

     serviceline Team  Overbudget_yes   Budget  month_duration
0  Commissioning   SB               0  21400.0        4.366667
1  Commissioning   SB               0  31865.0        8.066667
2  Commissioning   SB               0  36610.0       10.900000
3  Commissioning   SB               0  20185.0       27.800000
4  Commissioning   SB               0  29131.0       18.233333

In [3]:
test_df.dtypes

serviceline        object
Team               object
Overbudget_yes      int64
Budget            float64
month_duration    float64
dtype: object

In [5]:
# dropna
dropna_df = test_df.dropna()
dropna_df

       serviceline Team  Overbudget_yes    Budget  month_duration
0    Commissioning   SB               0  21400.00        4.366667
1    Commissioning   SB               0  31865.00        8.066667
2    Commissioning   SB               0  36610.00       10.900000
3    Commissioning   SB               0  20185.00       27.800000
4    Commissioning   SB               0  29131.00       18.233333
..             ...  ...             ...       ...             ...
819           LEED   SB               1  37500.00       35.166667
820           LEED   SB               1  31780.00       21.300000
821           LEED   SB               1  52516.83       31.466667
822           LEED   SB               1  34000.00       11.100000
823           LEED   SB               1  32436.00       18.200000

[766 rows x 5 columns]

In [6]:
test_list = ["serviceline", "Team"]

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(dropna_df[test_list]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(test_list)
encode_df.head()

,serviceline_Brokerage,serviceline_Commissioning,serviceline_Compliance,serviceline_Education,serviceline_Energy Audit,serviceline_Energy Modeling,serviceline_GPR,serviceline_HPPM,serviceline_Incentives & Rebates,serviceline_LBC,...,serviceline_Materials,serviceline_NZE,serviceline_PM Ground Up,serviceline_PM TI,serviceline_Strategic Planning,serviceline_WELL,Team_EN,Team_OP,Team_PM,Team_SB
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
# Merge one-hot encoded features and drop the originals
merge_df = dropna_df.merge(encode_df,left_index=True, right_index=True)
merge_df = merge_df.drop(test_list,1)
merge_df.head()

,Overbudget_yes,Budget,month_duration,serviceline_Brokerage,serviceline_Commissioning,serviceline_Compliance,serviceline_Education,serviceline_Energy Audit,serviceline_Energy Modeling,serviceline_GPR,...,serviceline_Materials,serviceline_NZE,serviceline_PM Ground Up,serviceline_PM TI,serviceline_Strategic Planning,serviceline_WELL,Team_EN,Team_OP,Team_PM,Team_SB
0,0,21400.0,4.366667,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,31865.0,8.066667,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0,36610.0,10.900000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0,20185.0,27.800000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,29131.0,18.233333,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
# Remove loan status target from features data
y = merge_df.Overbudget_yes.values
X = merge_df.drop(columns=["Overbudget_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Data:
- Output data: "Overbudget_yes"
- Input data: remaining columns. For the mockup purpose, we only used 4 original inputs(before on-hot-encode). There are more available data that can be added later.

# SVM trial:

In [9]:
# Create the SVM model
svm = SVC(kernel='linear')

In [12]:
# Train the model
svm.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [13]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.674

# Logistic regression trial:

In [16]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train_scaled,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.461

# Random Forest trial:

In [18]:
# Create a random forest classifier.
    # Typically, 128 estimators is the largest number of estimators we would want to use in a model
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.539

# Cross validation test on SVM:

In [19]:
from sklearn.model_selection import cross_validate

In [23]:
svm_cross = SVC(kernel='linear')

cv_results = cross_validate(svm_cross, X_train_scaled, y_train, cv=5)

In [24]:
sorted(cv_results.keys())

['fit_time', 'score_time', 'test_score']

In [25]:
cv_results['test_score']

array([0.63551402, 0.51886792, 0.61320755, 0.63207547, 0.54716981])

# Conclusion:
On initial trials, the SVM model returns the highest accuracy score. We will try to optimize this model, firstly by adding more available features from our database.